@model MyDocument.Model.Document

@{
    ViewBag.Title = "编辑Edit";
}

<h2> 编辑 </h2>

@using (Html.BeginForm("Edit",  "Document", FormMethod.Post,
    new { role = "form", @class = "form-horizontal", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Document</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.DocumentID, null, new { @class = "col-sm-2 control-label" })
			<div class="col-sm-6">
                <label class="control-label">
                    @Html.DisplayFor(model => model.DocumentID)
                </label>
                @Html.HiddenFor(model => model.DocumentID)
			</div>			
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DocumentTypeCode, null, new { @class = "col-sm-2 control-label" })

			<div class="col-sm-6">
            @Html.EditorFor(model => model.DocumentTypeCode, "MyTextBox")
			</div>

			<div class="col-sm-3">
				@Html.ValidationMessageFor(model => model.DocumentTypeCode)
			</div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DocumentTitle, null, new { @class = "col-sm-2 control-label" })

			<div class="col-sm-6">
            @Html.EditorFor(model => model.DocumentTitle, "MyTextBox")
			</div>

			<div class="col-sm-3">
				@Html.ValidationMessageFor(model => model.DocumentTitle)
			</div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DocumentKeywords, null, new { @class = "col-sm-2 control-label" })

			<div class="col-sm-6">
            @Html.EditorFor(model => model.DocumentKeywords, "MyTextBox")
			</div>

			<div class="col-sm-3">
				@Html.ValidationMessageFor(model => model.DocumentKeywords)
			</div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DocumentDescription, null, new { @class = "col-sm-2 control-label" })

			<div class="col-sm-6">
            @Html.EditorFor(model => model.DocumentDescription, "MyTextBox")
			</div>

			<div class="col-sm-3">
				@Html.ValidationMessageFor(model => model.DocumentDescription)
			</div>
        </div>



    <div class="form-group">
        @Html.LabelFor(model => model.DocumentContent, null, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-6">
            @Html.EditorFor(model => model.DocumentContent, "MyTextArea")
        </div>

        <div class="col-sm-3">
            @Html.ValidationMessageFor(model => model.DocumentContent)
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.DocumentLogo, null, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-6">
            @Html.HiddenFor(model => model.DocumentLogo)

            @if (!String.IsNullOrEmpty(Model.DocumentLogo))
            {
                <img alt="@Model.DocumentLogo" src="~/upload/Logo/@(Model.DocumentLogo)" />
            }

            <input id="logoFile" name="logoFile" type="file" />
        </div>

        <div class="col-sm-3">
            @Html.ValidationMessageFor(model => model.DocumentLogo)
        </div>
    </div>




        <div class="form-group">
            @Html.LabelFor(model => model.DocumentFileName, null, new { @class = "col-sm-2 control-label" })

			<div class="col-sm-6">
                @Html.HiddenFor(model => model.DocumentFileName)
                @Html.HiddenFor(model => model.DocumentSwfFileName)


                @Html.DisplayFor(model => model.DocumentFileName)
                <br/>

                <input id="pdfFile" name="pdfFile" type="file" />
			</div>

			<div class="col-sm-3">
				@Html.ValidationMessageFor(model => model.DocumentFileName)
			</div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">                
                @Html.EditorFor(model => model.IsActive)
                @Html.LabelFor(model => model.IsActive)
            </div>
        </div>

        @Html.HiddenFor(model => model.CreateUser)
        @Html.HiddenFor(model => model.CreateTime)
        @Html.HiddenFor(model => model.LastUpdateUser)
        @Html.HiddenFor(model => model.LastUpdateTime)
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-file"></span>
                    保存
                </button>
            </div>
        </div>


    <div class="form-group form-group-sm">
        <div class="col-sm-offset-2 col-sm-9 form-message">
                @ViewBag.Message
        </div>
    </div>


    @Html.Hidden("returnQueryString", Request["returnQueryString"])
    

}




<div>
    <a href="@Url.Action("Index", ViewBag.ReturnQueryRouteValue)" class="btn btn-default">
        <span class='glyphicon glyphicon-list-alt'></span>
        返回列表
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
