@model MyDatabaseDoc.Model.Table

@using System.Linq;

@{
    ViewBag.Title = Model.TableName;
}


<h2> @(Model.TableName) : @(Model.TableComment) </h2>


<table class="table">
    <tr>
        <th>
            列名
        </th>
        <th>
            数据类型
        </th>
        <th>
            字符串长度
        </th>
        <th>
            数字长度
        </th>
        <th>
            小数位数
        </th>
        <th>
            允许为空
        </th>
        <th>
            备注
        </th>
    </tr>
@{
    var query =
        from data in Model.ColumnList
        orderby data.ColumnIndex
        select data;
        
}
@foreach (var item in query)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterMaximumLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumericPrecision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumericScale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNullable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnComment)
        </td>
    </tr>
}

</table>



<a href='@Url.Action(actionName:"Index")' class="btn btn-default">
    <span class='glyphicon glyphicon-list-alt'></span>
    返回列表
</a>