@model IEnumerable<MyDatabaseDoc.Model.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TableName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TableName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableComment)
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.TableName })" class="btn btn-default btn-sm">
                <span class='glyphicon glyphicon-th-list'></span>
                明细
            </a>
        </td>
    </tr>
}

</table>
